.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: 'Manrope', sans-serif;
}

body{
    background-color: black;
}
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');


h3{
    text-align: center;
    font-family: 'Manrope', sans-serif;
    color: rgb(255, 255, 255);
}

h2{
    text-align: center;
    font-family: 'Manrope', sans-serif;
    color: rgb(0, 0, 0); 
}

.music-player{
    width: 300px;
    text-align: center;
    padding: 25px 35px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#duration, #time {
    font-size: 16px;
    margin: 10px;
  }
  

  

.music-player .songImg{
    margin-top: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    height: 180px;
    width: 180px;
    box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}
.music-player h3{
    margin: 10px 0;
    line-height: 1rem;
    font-size: 20px;
}

.music-player p{
    font-size: 14px;
    margin: 10px 0;
}


#play-pause{
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}


#progress{
    -webkit-appearance: none;
    margin: 40px 0;
    margin-top: 20px;
    width: auto;
    height: 6px;
    border-radius: 4px;
    background-color: #00892e;
}

#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #f53192;
    border-radius: 50%;
    border: 6px solid #fff;
    width: 25px;
    height: 25px;
    box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}